# dependencies
node_modules/

# next
.next/
out/

# production
build/

# local env
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local caches created by workspace-scoped HOME builds
.npm/
Library/

# vercel
.vercel/

# system
.DS_Store
